<h1>Products</h1>
<div class="card">
  <div class="card-head">Lorem ipsum - Product 1</div>
  <div class="card-body">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque, magnam at
    veritatis rem quidem inventore sed optio enim temporibus perspiciatis totam,
    laborum tenetur, non ipsam fuga! Commodi, voluptatem. Laboriosam, dolorum?
  </div>
</div>
<div class="card">
  <div class="card-head">Lorem ipsum - Product 2</div>
  <div class="card-body">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque, magnam at
    veritatis rem quidem inventore sed optio enim temporibus perspiciatis totam,
    laborum tenetur, non ipsam fuga! Commodi, voluptatem. Laboriosam, dolorum?
  </div>
</div>
